Django==4.2
psycopg2==2.9.1
requests==2.26.0
python-dateutil==2.8.2
django-recaptcha
django-crispy-forms==2.1
django-tempus-dominus==5.1.2.17
django-contrib-postgres
django-mptt==0.12.0
django-bootstrap4
tldextract
bs4
gunicorn
captcha
dnspython
pytz
Pillow==8.4.0



