
  <div class="horizontal-line" style="justify-content:left">
     <span class="line-text{% if sort_by == 1 %}-selected{% endif%}">
      <a class="a-bold-hover{% if sort_by == 1 %}-selected{% endif%}" href="?sort_by=1">&nbsp;od nejnovějších&nbsp;</a>
    </span>
    <span class="line-text{% if sort_by == 2 %}-selected{% endif%}">
      <a class="a-bold-hover{% if sort_by == 2 %}-selected{% endif%}" href="?sort_by=2" >&nbsp;od nejreagovanějších&nbsp;</a>
    </span>
    <span class="line-text{% if sort_by == 3 %}-selected{% endif%}">
      <a class="a-bold-hover{% if sort_by == 3 %}-selected{% endif%}" href="?sort_by=3">&nbsp;od nejlépe hodnocených&nbsp;</a>
    </span>
    <span class="line-text" style="white-space: pre-line;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>