{% extends "base_central.html" %}
{% load static %}

{% block content_header %} 
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <span style="text-align: left; font-size:medium;">&nbsp;</span>
        <span style="text-align:left; font-size:20px; ">Sdílet URL odkaz komentáře</span>
        <span style="text-align:right; font-size:small;"><a class="a-diskuse" href="{% url 'navigate_back' %}">&nbsp;X&nbsp;</a></span>
    </div>
{% endblock %} 
{% block content_main %} 
    <hr>
    <form  action="{% url 'comment_copy_link' comment_id%}" method="POST">
        {% csrf_token %}
        <input type="text" size="40" name="{{ form.url.name }}" value="{{ form.url.value }}" readonly>
        <input type="text" size="40" name="{{ form.comment.name }} " value="{{ form.comment.value }}" hidden>
        <button type="submit" onclick="copyToClipboard('url', 'comment')">Zkopírovat do schránky</button>
    <br><br>
    </form>
{% endblock %} 




