{% extends "base_header.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/style_users.css' %}">


{% block content_header %}
<div style="display: flex; justify-content: space-between; align-items: center;">
  <span style="text-align: left; font-size: large;">Nastavení prostředí uživatele&nbsp;&nbsp;{{request.user.first_name}}  {{request.user.last_name}} </span>
  <span style="text-align: right; font-size: small;"><a class="a-diskuse" href="{%url 'navigate_back'  %}">&nbsp;X&nbsp;</a>&nbsp;&nbsp;&nbsp;</span>
</div>
{% endblock %}

{% block content_main %}
<div style="display: left; justify-content: space-between;">
  <span>
    <a class="a-small-button" href="{% url 'user_detail' request.user.id %}">&nbsp;Nastavení profilu uživatele&nbsp;</a>
  </span>
  <span style="text-align: right; font-size: medium;">
    <a class="a-small-button" href="{% url 'user_tabs' request.user.id %}">&nbsp;Definice záložek uživatele&nbsp;</a>
  </span>
</div>
<br>
<form  method="POST" action="{% url 'user_context' userid %}">
  <table>
    {% csrf_token %}
    {% for field in form %}
      <tr style="font-size:medium;">
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
      </tr>
    {% endfor %}
  </table>
  <br>
  <hr>
  <div style="display: flex; justify-content: space-between;">
    <button type="submit" class="button-font-size">&nbsp;<b>Uložit změny</b>&nbsp;</button>&nbsp;&nbsp;
  </div> 
  <br>
  
  
{% endblock %}
