{% extends "base_central.html" %}
{% load static %}


{% block content %}
  <h2>Žádost o resetování hesla byla odeslána</h2>
  <p>Na váš e-mail byly zaslány instrukce pro resetování hesla. Zkontrolujte svou e-mailovou schránku.</p>
{% endblock %}


{% block content_main %}
<span style="font-size:x-large;margin:10px">Email pro reset hesla by odeslán</span>
{% endblock %} 
{% block content_main %} 
<p>We've emailed you instructions for setting your password. You should receive the email shortly.</p>
<p>If you don't receive an email, please make sure you've entered the email address associated with your account, and check your spam folder.</p>
{% endblock %}
