{% extends "base_central.html" %}
{% load static %}

{% block content_header %}
<div style="display: flex; justify-content: space-between; align-items: center;">
  <span style="text-align: left; font-size:medium;">&nbsp;</span>
  <span style="text-align:left; font-size:20px; ">Resetovat heslo</span>
  <span style="text-align:right; font-size:small;"><a class="a-diskuse" href="{% url 'navigate_back' %}">&nbsp;X&nbsp;</a></span>
</div>
{% endblock %} 
{% block content_main %} 
  <br>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br><hr><br>
    <div style="display: flex; justify-content: center; align-items: center;">
      <span>
        <button type="submit" class="button-font-size">&nbsp;Poslat email pro reset hesla&nbsp;</button>
      </span>
     </div>
  </form>
  <br>
{% endblock %}
