{% extends 'base_central.html' %}
{% load static %}

{% block content_header %}
<span style="font-size:x-large;margin:10px">Resetovat heslo</span>
{% endblock %} 
{% block content_main %} 
  <br>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br><hr><br>
    <div style="display: flex; justify-content: space-between;">
      <button type="submit" class="button-font-size">&nbsp;Resetovat heslo&nbsp;</button>&nbsp;&nbsp;
      <span style="text-align: right; font-size: medium;"><a class="a-diskuse" href="{% url 'home_discussions' %}">&nbsp;X&nbsp;</a></span>
    </div>
  </form>
  <br>
{% endblock %}
