{% extends "base_header.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/style_users.css' %}">
{% block content_header %} 
<div style="margin-top:1px;padding-top: 1px;padding-bottom: 1px; display: flex; justify-content: space-between; align-items: center;">
  <span style="text-align: left; font-size:medium;">&nbsp;</span>
  <span style="text-align: left; font-size:20px;>O diskusním portálu</span>
  <span style="text-align: right; font-size:small;"><a class="a-diskuse" href="{%url 'navigate_back' %}">&nbsp;X&nbsp;</a></span>
</div>
{% endblock %}

{% block content_main %}
  
             <article>
                <section>
                Vítejte na webu Svobodná diskuse na www.noncensura.cz, platformě, která vznikla s cílem poskytnout uživatelům prostor pro svobodnou diskusi na různá témata. Existujeme s ohledem na potřeby lidí, kteří chtějí diskutovat o článcích, kde samotné diskuse nejsou dostupné, nebo se nechtějí registrovat na jiných portálech.
                </section>
                <br>
                <section>
                Naše platforma je zde proto, aby umožnila lidem vyjádřit své názory, sdílet zkušenosti a zapojit se do otevřené diskuse bez omezení a blokace. Rozumíme, že některá média mohou praktikovat cenzuru názorů, a proto jsme vytvořili non-censura.cz jako alternativní prostředí, kde se mohou lidé svobodně vyjadřovat bez obav z omezení.
                </section>
                <br>
                <section>
                Věříme, že svoboda projevu je základním právem a že každý má právo vyjádřit svůj názor bez obav z cenzury. Na našem webu můžete vytvářet a přispívat do diskusí na různá témata, vyjádřit své názory, odpovídat na příspěvky ostatních uživatelů a navazovat nové diskuse. Poskytujeme prostor pro otevřenou a respektující komunikaci, kde se různé perspektivy mohou setkávat a prolínat.
                </section>
                <br>
                <section>
                Připojte se k nám na non-censura.cz a dejte svým názorům prostor. Užijte si svobodu diskuse a objevujte nové perspektivy od lidí jako jste Vy, kteří si cení otevřenosti a různorodosti názorů.
                </section>
            </article>
            <hr>
            <div style="text-align:center">
              <br>
              <a class="a-diskuse" href="{%url 'navigate_back' %}">&nbsp;zavřít&nbsp;</a>
              <br><br>
          </div>
{% endblock %}
