{% extends "base_header.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/style_users.css' %}">
{% block content_header %} 
<div style="display: flex; justify-content: space-between; align-items: center;">
  <span style="text-align: left; font-size:medium;">&nbsp;</span>
  <span style="text-align: left; font-size:20px;">Události dne {{day}}.{{month}}.</span>
  <span style="text-align: right; font-size:small;"><a class="a-diskuse" href="{%url 'navigate_back' %}">&nbsp;X&nbsp;</a></span>
</div>
{% endblock %}

{% block content_main %}
<div style="display: flex; justify-content: space-between;">
<span style="text-align: left;">
    <div class="horizontal-line" style="margin-top:2px;margin-bottom:6px;justify-content:left">
        <span class="line-text{% if daydelta == 'yesterday' %}-selected{% else %}-invisible{% endif%}" style="font-size:medium;">
         <a class="a-bold-hover{% if daydelta == 'yesterday' %}-selected{% endif%}" href="?daydelta=yesterday" title="události včera">&nbsp;včera&nbsp;</a>
       </span>
       <span class="line-text{% if daydelta == 'today' %}-selected{% else %}-invisible{% endif%}" style="font-size:medium;">
         <a class="a-bold-hover{% if daydelta == 'today' %}-selected{% endif%}" href="?daydelta=today" title="události dnes">&nbsp;dnes&nbsp;</a>
       </span>
       <span class="line-text{% if daydelta == 'tommorow' %}-selected{% else %}-invisible{% endif%}" style="font-size:medium;">
         <a class="a-bold-hover{% if daydelta == 'tommorow' %}-selected{% endif%}" href="?daydelta=tommorow" title="události zítra">&nbsp;zítra&nbsp;</a>
       </span>
     </div>
</span>
</div>
<div>
<table style="border-collapse: collapse;width: 100%;background-color:white;">
    <thead>
        <tr style="border: 1px solid black;padding: 8px;text-align: left;">
            <th>&nbsp;rok</th>
            <th>událost</th>
        </tr>
    </thead>
    <tbody>
        {% for item in events %}
        <tr style="border: 1px solid black;padding: 8px;text-align: left;">
            <td>&nbsp;{{ item.year }}&nbsp;</td>
            <td style="font-size:small;">{{ item.text }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<hr>
<div style="text-align:center">
    <br>
    <a class="a-diskuse" href="{%url 'navigate_back' %}">&nbsp;zavřít&nbsp;</a>
    <br><br>
</div>
  
{% endblock %}
