{% extends "base_central.html" %}
{% load static %}

{% block content_header %}
<div style="display: flex; justify-content: space-between; align-items: center;">
  <span style="text-align: left; font-size:medium;">&nbsp;</span>
  <span style="text-align:left; font-size:20px;">Založení diskuse k článku</span>
  <span style="text-align:right; font-size:small;"><a class="a-diskuse" href="{%url 'home_discussions'  %}">&nbsp;X&nbsp;</a></span>
</div>
{% endblock %}

{% block content_main %}
<form  method="POST" action="{% url 'new_discussion' 'https:\\' 'none' 'none' 'none' %}">
  <table style="text-align: left;">
    {% csrf_token %}
        <tr>
          <td>{{ form.title.label_tag }}</td>
          <td>{{ form.title }}</td>
        </tr>
        <tr>
          <td>{{ form.url.label_tag }}</td>
          <td>{{ form.url }}</td>
        </tr>  
  </table>
  <br>
  <table style="text-align: left;">
    {% csrf_token %}
        <tr>
          <td>{{ form.author.label_tag }}</td>
          <td>{{ form.author }}</td>
          <td>&nbsp;&nbsp;&nbsp;{{ form.theme_field.label_tag }}</td>
          <td>{{ form.theme_field }}</td>
        </tr>  
  </table>
  <br><hr>
  <div style="display: flex; justify-content: center; align-items: center;">
    <span style="text-align: center; font-size: medium;">
      <span style="text-align:right; font-size:medium;"><a class="a-diskuse" href="{%url 'home_discussions'  %}">&nbsp;zpět&nbsp;</a></span>
      <button type="submit" class="button-font-size">&star;&nbsp;<b>Založit diskusi</b>&nbsp;</button>
      <br><br>
    </span>
  </div>
  </form>
{% endblock %}
