{% extends "base_header.html" %}
{% load static %}
{% load custom_filters %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/style_users.css' %}">

{% block content_header %}
<div style="display: flex; justify-content: space-between; align-items: center;">
  <span style="text-align: left; font-size:medium;">&nbsp;</span>
  <span style="text-align:left; font-size:20px;"">Pokročilé vyhledání diskusí</span>
  <span style="text-align:right; font-size:small;"><a class="a-diskuse" href="{%url 'home_discussions' %}">&nbsp;X&nbsp;</a></span>
</div>
{% endblock %}

{% block content_main %}

<form  method="POST" action="{% url 'advanced_search' %}"">
  <table>
    {% csrf_token %}
    {% for field in form %}
      <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
      </tr>
    {% endfor %}
  </table>
  <hr>
  <div style="display: flex; justify-content: center; align-items: center;">
    <span style="text-align: right; font-size: medium;">
      <button type="submit" class="button-font-size">&#128269;&nbsp;<b>Vyhledat</b>&nbsp;</button>
    </span>
  </div>
  </form>
  <style>
    .text-area-frame {
        border: 1px solid #010000;
        padding: 4px;
        background-color: #f5f4f4;
        margin: 1 auto
    }
  </style>  
   {% if page_obj %}
    <span style="color:#471fb6;">Dle zvolených kritérií nalezeno <b>{{diskuses.count}}</b> diskusí.</span>
    {% if page_obj|length > 1 %}
    <div class="horizontal-line" style="margin-top:12px;margin-bottom:6px; display:flex; justify-content:space-between; align-items: bottom;">
     <span>
     <span class="line-text{% if sort_by == 1 %}-selected{% else %}-invisible{% endif%}">
       <a class="a-bold-hover{% if sort_by == 1 %}-selected{% endif%}" href="?sort_by=1&tit={{tit}}&aut={{aut}}&dom={{dom}}&the={{the}}&act={{act}}&ccm={{ccm}}&lcb={{lcb}}&lca={{lca}}&crb={{crb}}&cra={{cra}}" title="seřazení diskusí">&nbsp;od nejnovějších&nbsp;</a>
     </span>
     <span class="line-text{% if sort_by == 2 %}-selected{% else %}-invisible{% endif%}">
       <a class="a-bold-hover{% if sort_by == 2 %}-selected{% endif%}" href="?sort_by=2&tit={{tit}}&aut={{aut}}&dom={{dom}}&the={{the}}&act={{act}}&ccm={{ccm}}&lcb={{lcb}}&lca={{lca}}&crb={{crb}}&cra={{cra}}" title="seřazení diskusí">&nbsp;od nejdiskutovanějších&nbsp;</a>
     </span>
     <span class="line-text{% if sort_by == 3 %}-selected{% else %}-invisible{% endif%}">
       <a class="a-bold-hover{% if sort_by == 3 %}-selected{% endif%}" href="?sort_by=3&tit={{tit}}&aut={{aut}}&dom={{dom}}&the={{the}}&act={{act}}&ccm={{ccm}}&lcb={{lcb}}&lca={{lca}}&crb={{crb}}&cra={{cra}}" title="seřazení diskusí">&nbsp;dle času posledního příspěvku&nbsp;</a>
     </span>
     </span>
     <span>
       &nbsp;
     </span>
    </div>

    {% endif %}
    {% if diskuses.count > page_obj|length %}
     <span style="color:#471fb6;">Zobrazeno prvních {{page_obj|length}}.</span>
     {% endif  %}
   {% else %}
      <br>
      <span style="color:#471fb6;">Dle zvolených kritérií nenalezena žádná diskuse.</span>
   {% endif  %}
    <div>
      {% for discussion in page_obj %}
        {% include "discussions/discussion_frame.html" %}
      {% endfor %}
    </div> 
{% endblock %}
