{% extends "base_header.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/style_users.css' %}">

{% block content_header %}
<div style="display: flex; justify-content: space-between; align-items: center;">
  <span style="text-align: left; font-size:medium;">&nbsp;</span>
  <span style="text-align: left; font-size:20px; font-weight:bold;">Vyhledávání článků</span>
  <span style="text-align: right; font-size:small;"><a class="a-diskuse" href="{%url 'home_discussions'  %}">&nbsp;X&nbsp;</a></span>
</div>
{% endblock %}

{% block content_main %}
<div>
<form  method="GET" action="{% url 'article_search' %}"">
  <table>
    {% csrf_token %}
    {% for field in form %}
    {% if field != form.days_old %}
      <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
      </tr>
    {% endif %}
    {% endfor %}  
  </table>
  <br>
  <div class="horizontal-radio">
    <span>Články za poslední:</span>
    {% for radio in form.days_old %}
        <label>
            {{ radio.tag }} {{ radio.choice_label }}
        </label>
    {% endfor %}
</div>
<br><br><hr>
  <div style="display: flex;  justify-content: center; align-items: center;">
    <span style="text-align: center; font-size: medium;">
      <button type="submit" class="button-font-size">&#128269;&nbsp;Vyhledat články&nbsp;</button>
    </span> 
  </div>
  </form>
  <style>
    .text-area-frame {
        border: 1px solid #010000;
        padding: 4px;
        background-color: #f5f4f4;
        margin: 1 auto
    }
  </style>
    <br>
   {% if key_word %}
   {% if not page_obj %}
     <span style="color:#471fb6;">Dle zvolených kritérií nenalezen žádný článek</span>
   {% else %}
      <span style="color:#471fb6;font-size:small">Dle zvolených kritérií nalezeno <b>{{articles|length}}</b> článků.</span>
   {% endif %}
   {% endif %}

    <div>
     {% for article in page_obj %}
     <br>
     <div class="text-area-frame" style="margin-bottom: 0.0em;">
      <p style="margin-bottom: 0.2em; margin-top: 0.1em;font-size: large"><span><a href="{{ article.url }}"><b>{{ article.title }}</b></a></span><br>
      <span style="font-size: medium">{{ article.description }}</span>   <br>
      <span style="font-size: small"><b>&bull;&nbsp;vloženo:</b> {{ article.published_on|date:"d.m.Y"}} &nbsp;&bull;&nbsp;<b>doména:</b> {{article.domain}} &nbsp;
        {% if article.theme %}
        <b>&bull;&nbsp;&nbsp;téma:</b> {{article.theme}} &nbsp;
        {% endif %}
        {% if article.author %}
        <b>&bull;&nbsp;&nbsp;autor:</b> {{article.author}}
        {% endif %}
        <br>
      {% if not article.discussion %}
      <a class="a-diskuse" href="{% url 'new_discussion' article.url article.title article.theme|default:'none' article.author|default:'none' %}">Vytvoř diskusi</a>&nbsp;&nbsp;
      {% else %}
      <a class="a-diskuse" href="{% url 'comments' article.discussion_id %}">Diskutuj</a>&nbsp;&nbsp;počet příspěvků: {{article.comments_count}}
      {% endif %}
      </div>
      {% endfor %}
    </div>
    <!-- Display pagination links -->
    <br>
    {% if page_obj %}
    {% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&key_word={{key_word}}&section={{section}}&days_old={{days_old}}">předchozí </a>
        {% endif %}
        <span class="current-page">{{ page_obj.number }}</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&key_word={{key_word}}&section={{section}}&days_old={{days_old}}"> další</a>
        {% endif %}
      </span>
    </div>
    {% endif %} 
  {% endif %} 
</div> 
 {% endblock %}
